@import '../../styles/vars';

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-width: 264px; */
    min-width: 112px;
    height: 58px;
    margin: 0 20px;
    border-radius: 36px;
    background-color: $input-placeholder-color;

    @media screen and (max-device-width: $mobile-max) {
        flex-direction: row-reverse;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 384px;
        min-width: 160px;
        height: 40px;
        padding: 0px;
        background-color: $white-color;
    }

    * {
        box-sizing: border-box;
        margin: 0;
    }

    .search-input {
        width: 60%;
        margin-left: 16px;
        padding-left: 16px;
        outline: none;
        color: $gray-color;
        background-color: transparent;
        border: none;
        transition: .3s linear;

        @media screen and (max-device-width: $mobile-max) {
            width: 50%;
            height: 40px;
            margin-left: 8px;
            margin-right: 16px;
            padding-left: 0;
            border-radius: 0px;
            border: none;
            transition: width 0.3s linear;
        }

        &:focus {
            @media screen and (max-device-width: $mobile-max) {
                width: 80%;
                padding-left: 16px;
                box-shadow: none;
            }
        }

        &::placeholder {
            transition: opacity 0.3s ease;

            @media screen and (max-device-width: $mobile-max) {
                font-size: $font-size-medium;
                font-weight: 600;
            }
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    .search-button {
        position: relative;
        right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        background-color: transparent;
        border: none;

        @media screen and (max-device-width: $mobile-max) {
            position: inherit;
            width: 36px;
            height: 32px;
            background-color: transparent;
            transition: transform 0.3s ease;
        }

        img {
            width: 16px;
            height: 16px;

            @media screen and (max-device-width: $mobile-max) {
                width: 12px;
                height: 12px;
            }
        }

        &:hover {
            background-color: $button-hover-bg-color;
        }

        &:active {
            background-color: $button-active-bg-color;

            @media screen and (max-device-width: $mobile-max) {
                background: none;
            }
        }
    }
}
