@import "../../styles/vars";

.book-card {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  outline-offset: 2px;
  max-width: 230px;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: scale(0.98);
    background-color: lighten($color-indigo-600, 40%);
  }

  &:focus-visible {
    outline: 2px solid $color-indigo-600;
  }

  &__popular {
    position: relative;
    top: 4px;
    left: 4px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    background-color: $light-green-color;
  }

  &__new {
    position: relative;
    top: 4px;
    left: 4px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    background-color: $highlight-color;
  }

  &__image {
    width: 80%;
    align-self: center;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-shrink: 0;
  }

  &__info {
    padding: 0.3rem;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 0.5rem;
  }

  &__title {
    max-height: 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: $black-color;
    margin: 0.5em 0 0.25em;
    text-align: center;
  }

  &__author {
    font-size: 0.875rem;
    color: $gray-color;
    margin-top: 0.1rem;
    text-align: center;
  }

  &__bottom-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-self: end;
    align-items: center;
  }

  &__price-container {
    font-weight: $font-weight-semibold;
    font-size: $font-size-xlarge;
    margin: 2%;
  }

  &__button {
    display: inline-block;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 6px;
    background: $color-indigo-600;
    color: $white-color;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: darken($color-indigo-600, 10%);
      outline: none;
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      background-color: $color-indigo-400;
      cursor: not-allowed;
    }
  }

  &__button--checkout {
    width: 80%;
    background-color: $color-indigo-600;

    &:hover {
      background-color: darken($color-indigo-600, 10%);
    }
  }
}
