//Breakpoints
$mobile-s: 375px;
$mobile-mid: 425px;
$mobile-max: 768px;
$tablet-s: 769px;
$desktop: 1020px;

//Colors
$color-indigo-400: #7c86ff;
$color-indigo-600: #4f39f6;
$color-indigo-700: #432dd7;
$black-color: #111111;
$gray-color: #626364;
$yellow-color: #ffc85e;
$orange-color: #f3a50d;
$white-color: #ffffff;
$green-color: #4caf50;
$light-green-color: #1fd85d;
$blue-color: #007bff;
$light-gray: rgba(63, 78, 101, 0.1);
$footer-bg-color: #3b4b61;
$highlight-color: #fbc44b;
$button-bg-color: #ffc85e;
$light-control-button-color: rgba(255, 200, 94, 0.3);
$button-hover-bg-color: #f3a50d;
$button-active-bg-color: #ffa500;
$input-placeholder-color: rgba(237, 237, 237, 1);
$blur-gradient-light-gray: rgba(138, 148, 171, 1);
$blur-gradient-dark-gray: rgba(138, 148, 171, 0);
$card-border-color: rgba(116, 86, 4, 0.116);
$box-shadow-color: rgba(0, 0, 0, 0.2);
$box-shadow-button-color: rgba(94, 62, 3, 0.2);

//Font sizes
$font-size-xxsmall: 8px;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 20px;
$font-size-xxlarge: 24px;
$font-size-36: 36px;
$font-size-70: 70px;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;
