@import "../../styles/vars";

.book-carousel {
  display: flex;
  /* overflow-x: auto; */
  gap: 1rem;
  padding: 2rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-indigo-600;
    border-radius: 4px;
  }

  &__loading,
  &__error {
    font-size: $font-size-medium;
    color: $gray-color;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }

}
.book-carousel__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $color-indigo-600;
}
